html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 228, 240);
  font-family: "Workbench";
}

canvas {
  display: block;
}

.main-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 0;

  text-align: center;
}

h1 {
  font-size: 70px;
  color: palevioletred;
}

p {
  font-size: 20px;
  color: palevioletred;
}